.navbar-brand{
    margin-left: 250px;
}

.card{
    width: 75%;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 40px black;
}

.information{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}

.CheckOut{
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 40px black;
}

.messageError{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(255, 0, 0);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* MOBILE  */
@media screen and (max-width: 900px) {
    .navbar-brand{
        margin-left: 0;
    }
    .card{
        margin-top: 75px;
        width: 95%;
    }
    .navbar{
        width: 100%;
    }

    .messageError{
        margin: auto;
        margin-top: 40px;
        width: 90%;
    }
}