.navbar-brand{
    margin-left: 250px;
}

.content{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    text-align: center;
}

.orderTable{
    width: 60%;
    box-shadow: 0 0 50px black;
}

.table-img{
    height: 100px;
}

.tabs{
    width: 60%;
    margin: auto;
    margin-bottom: 150px;
}

.PriceText{
    text-align: center; 
    margin: 20px;
    margin-top: 80px;
}

.firsttab{
    margin-left: 250px;
}

.tableInput{
    text-align: center;
    border: none;
    background: transparent;
}

.numberInput{
    box-shadow: 0 0 1px black;
}

.YourselfDiv{
    justify-content: center;
    margin: auto;
    width: 50%;
}

.DeliveryDiv{
    justify-content: center;
    margin: auto;
    width: 50%;
}

.sendbtn{
    background-color: #11a628 !important;
    color: white !important;
}
.sendbtn:hover{
    cursor: pointer;
}

.sendbtndis{
    background-color: #a52020 !important;
    color: white !important;
}
.sendbtndis:hover{
    cursor: no-drop;
}

.messageError{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(255, 0, 0);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


/* MOBILE  */
@media screen and (max-width: 900px) {
    .content{
        width: 100%;
        text-align: center;
        box-shadow: 0 0 50px black;
    }

    .messageError{
        margin: auto;
        margin-top: 40px;
        width: 90%;
    }

    .orderTable{
        width: 100%;
        box-shadow: 0 0 50px black;
    }

    .navbar-brand{
        margin-left: 0;
    }

    input{
        width: 50px;
    }

    .tabs{
        width: 90%;
    }

    .YourselfDiv{
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .DeliveryDiv{
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .firsttab{
        margin-left: 0px;
    }

    .navbar{
        width: 100%;
    }
}