body{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    margin-left: 250px;
}

.first{
    margin-left: 10px;
}

.main{
    height: 100%;
}

.content{
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 50px black;
}

.adminPanel{
    width: 65%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 50px black;
}


.ordersTable{
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 50px black;
}


.nav-pills > li > a.active {
    background-color: #212529 !important;
    color: #ffffff !important;
}
.nav-pills > li > a:hover {
    background-color: #0d0e0f !important;
    color: #ffffff !important;
}
.nav-pills > li > a{
    background-color: #565c62 !important;
    color: #ffffff;
    margin-inline: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px black;
    text-align: center;
    width: 150px;
    font-size: 15px;
}

.messageError{
    margin: auto;
    margin-top: 40px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.messageSuccess{
    margin: auto;
    margin-top: 40px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(0, 255, 42);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


.card{
    width: 500px;
    margin: auto;
    box-shadow: 0 0 15px black;
}

.card-img-top{
    width: 60% !important;
    margin: auto;
}

.tableimg{
    height: 100px;
}

textarea{
    height: 200px;
    resize: none !important;
}



.AddContent{
    display: flex;
    padding-bottom: 50px;
}

.AddItem{
    margin: auto;
    padding: 10px;
    width: 40%;
    box-shadow: 0 0 10px black;
}

.additem{
    padding-top: 20px;
    width: 200px;
}



@media screen and (max-width: 900px) {
    .AddContent{
        display: block;
    }
    .AddItem{
        width: 100%;
        padding-bottom: 30px;
    }
    
    .first{
        margin-left: 0px;
        margin-top: 10px;
    }

    .TableContent{
        width: 75%;
        font-size: 10px !important;

    }

    .content{
        width: 100%;
    }
    .adminPanel{
        width: 100%;
    }

    .nav-pills > li > a{
        width: 150px;
        font-size: 15px;
    }

    .navbar-brand{
        margin-left: 0px;
    }

    .navbar{
        width: 100%;
    }

    .messageError{
        margin: auto;
        margin-top: 40px;
        width: 90%;
    }

    .messageSuccess{
        margin: auto;
        margin-top: 40px;
        width: 90%;
    }

    .ordersTable{
        padding: 0px;
        width: 100%;
    }
    .table{
        font-size: 14px;
        overflow: scroll;
    }
    .Complete{
        width: 90px;  
    }
}